<html>
    <head>
        <title>THE MYSORE ZOO</title>
    </head>
    <body>
        <center>
            <div>
            <img
            style="width: 100%;height: 50%;"
             src="https://jooinn.com/images/close-up-portrait-of-lion.jpg"/>
        </div>
        <h1 style="font-family: cursive; font-size:60px; color:green">THE GREAT MYSORE ZOO</h1>
        </center>
        <div style="background-color: beige;font-size: 30px;">
            <p>title:<b>LION</b></p>
            <P>discription:<b>the LION</b></P>
            <p>age:<b>25</b></p>
            <p>food:<b>sheep meat</b></p>
            <p>care taker:<b>abc</b></p>
        </div>

    </body>
</html>